* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    height: 80px;
    width: 100%;
    background-color: black;
    color: #FFF;
}
nav {
    height: 100%;
    width: 100%;
    padding: 0px 5% 0px 5%;
    background-color: rgb(47, 126, 179);
}
.containernav {
    height: 100%;
    width: 100%;
    display: flex;
}

.companyinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}
.companynameheadertext {
    font-size: 2rem;
    font-weight: bolder;
}
.headerlogoholder {
    padding-left: 5px;
    padding-right: 5px;
}
.menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.navbarCollapse {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}
.navbarcollapseitem {
    width: 25%;
    height: 100%;
}
.navbarcollapseitem:hover {
    cursor: pointer;
    background-color: aliceblue;
}
.navbarcollapseitem:hover progress {
    display: inline;
}
.naviconholder {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* progress {
    width: 100%;
    height: 10px;
    display: none;
} */
.naviconholder:hover {
    cursor: pointer;
    background-color: rgb(146, 200, 247);
}
/* .naviconholder:hover progress {
    display: inline;
} */
.naviconholdertext {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFF;
}
.naviconholder.active {
    background-color: rgb(0, 204, 255);
}

.profileicon {
    padding-left: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}





