body {
    background-color: white;
}

.containerofcontainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    padding: 0 0 0 0;
}

.totalcontainer {
    border: 1px solid black;
    width: 400px;
    height: 300px; /*height is 250px in js so I made 300px so that there is gap and looks nice*/
    /* This both height and width are calculated from js manually */
    padding: 0 0 0 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* This below has the height of total boxes and width of maximum box width */
.justmakinghalf {
    position: absolute;
    height: 300px;
    z-index: 5;
    width: 197.5px;
    border-right: 5px solid yellowgreen;
}
